{% extends "base_generic.html" %}

{% block title %}<title>Local Library | {{ author.last_name }}</title>{% endblock %}

{% block content %}
  <h1>{{ author.first_name }} {{author.last_name}}</h1>

  <p>{{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death}}{% endif %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
      <hr>
      <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
      <h5>Summary:</h5>
      <p>{{ book.summary }}</p>

    {% endfor %}
  </div>
{% endblock %}
